{% extends "template.html" %} {% block title %} Signup {% endblock %}

{% block content %}

<form method ="POST">Sign Ups</h3>
    <div class+"form-group">
        <label for="email">Email Address</label>
        <input type="text" id="email" name="email" class="form-control" placeholder="Enter Email Address"/>

        
        <label for="username">username</label>
        <input type="text" id="username" name="username" class="form-control" placeholder="Enter your Username"/>

        <label for="password1">password</label>
        <input type="password" id="password1" name="password1" class="form-control" placeholder="Enter your Password"/>

        <label for="password2">password</label>
        <input type="password" id="password2" name="password2" class="form-control" placeholder="Please re-enter youyr password"/>

        <br/>
        <div align="center">

{% endblock %}